{% extends "admin/change_list.html" %}

{% block result_list %}
    <div style="display: flex; justify-content: space-between; align-items: baseline;">
        <div></div>
        <div>   
            {% comment %} {% url 'sales_export_excel' as export_url %}
            <a href="{{ export_url }}?{{ request.GET.urlencode }}" class="button">Export Excel</a> {% endcomment %}
        </div>
    </div>
    {% if request.user.is_superuser %}
    <div style="display: flex; justify-content: space-between; align-items: baseline;">
        <div>
            <h3>Umumiy sotuv narxlari:</h3>
            <ul>
            {% for currency, total_price in currency_totals.items %}
                <li>{{ currency }}: {{ total_price }}</li>
            {% endfor %}
            </ul>
        </div>
        <div>
            <h3>Umumiy foyda:</h3>
            <ul>
            {% for currency, total_price in currency_profits.items %}
                <li>{{ currency }}: {{ total_price }}</li>
            {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
    {{ block.super }}
{% endblock %}