{% extends "admin/change_list.html" %}

{% block result_list %}
    <div style="display: flex; justify-content: space-between; align-items: baseline;">
        <div></div>
        <div>   
            <div style="font-weight: bold;">{{ summary_line }}</div>
            {% url 'warehouse_export_excel' as export_url %}
            {% comment %} <a href="{{ export_url }}?{{ request.GET.urlencode }}" class="button">Export Excel</a> {% endcomment %}
        </div>
    </div>    
    {% if currency_totals and request.user.is_superuser %}
        <div>
            <h3>Umumiy narxlar:</h3>
            <ul>
            {% for currency, total_price in currency_totals.items %}
                <li>{{ currency }}: {{ total_price }}</li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
    {{ block.super }}

{% endblock %}