{% extends "admin/change_list.html" %}

{% block result_list %}
{% if request.user.is_superuser %}

    <div style="display: flex; justify-content: space-between; align-items: baseline;">
        <div></div>
        <div>   
            <div style="font-weight: bold;">{{ summary_line }}</div>
            {% url 'sales_export_excel' as export_url %}
            <a href="{{ export_url }}?{{ request.GET.urlencode }}" class="button">Export Excel</a>
        </div>
    </div>
{% endif %}
{% if request.user.is_superuser %}
        <div style="display: flex; justify-content: space-between; align-items: baseline;">
            <div>
                <h3>Umumiy sotuv narxi:</h3>
                <ul>
                    <li>{{ total_price }}</li>
                </ul>
            </div>
            <div>
                <h3>Umumiy foyda:</h3>
                <ul>
                    <li>{{ total_profit }}</li>
                </ul>
            </div>
        </div>
    {% endif %}
    {{ block.super }}
{% endblock %}