{% extends "admin/change_list.html" %}

{% block result_list %}
{% if request.user.is_superuser %}

    <div style="display: flex; justify-content: space-between; align-items: baseline;">
        <div></div>
        <div>   
            <div style="font-weight: bold;">{{ summary_line }}</div>
            {% url 'azamat_production_excel' as export_url %}
            <a href="{{ export_url }}?{{ request.GET.urlencode }}" class="button">Export Excel</a>
        </div>
    </div>
    {% if total and request.user.is_superuser %}
    <div>
        <h3>Umumiy ishlab chiqarilgan tovarlar:</h3>
            <div style="display: flex; flex-wrap: wrap;">
                {% for name, weight, quantity2 in total %}
                    <div style="flex-basis: 50%; padding: 5px;">
                        <strong>{{ name }}</strong>: {{ weight }}kg 
                        {% if quantity2 != '0' %}
                            ({{ quantity2 }}ta)
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
    </div>
    {% endif %}
{% endif %}
    {{ block.super }}
{% endblock %}